body {
    background-image: url("/images/Estacion\ de\ Tren\ \(3\).jpg");
    background-size: 100%;
    background-position: center;
    background-color:darksalmon;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 200px;
    margin-bottom: 10px;
    color: rgba(29, 27, 26, 0.842);
    font-size: 35px;
    
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgba(255, 235, 205, 0.349);

}

#save-el{
    color: rgba(255, 235, 205, 0.301);
    font-size: 25px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#increment-btn:hover{
    background-color: red
}

#save-btn:hover{
    background-color: rgb(9, 187, 98);
}


#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}